.body-container {
    display: flex;
    flex-direction: row;

    .img-container {
        height: 200px;

        img {
            height: 100%;
        }
    }

    .description {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 300;
        gap: 20px;
        font-size: 20px;

        .price-product {
            font-weight: 500;
            margin: 10px 0px;

            .full-price {
                text-decoration: line-through;
                margin-right: '10px';
                color: 'gray';
            }

            .sale {
                color: red;
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }
    }

}


.review-container {
    height: 100px;
    overflow-y: auto;
    padding-right: 10px;
    margin: 10px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .user {
        font-weight: bold;
        width: 100%;
    }

    .review {
        color: gray;
        width: 100%;

    }

}

.add-review-container {
    padding: 10px;

    .rating-container {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .input-add-review {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .input-field {
            width: 100%;

            textarea {
                height: 80px;
                resize: none;
            }

            ::-webkit-scrollbar {
                width: 5px;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }

            ::-webkit-scrollbar-track {
                background-color: #f1f1f1;
            }
        }

        .btn-send-review {
            cursor: pointer;
            color: #007bff;

            &:hover {
                color: #0056b3;
            }
        }
    }
}

.MuiBox-root.css-qxh7fn {
    width: 80%;
}