.product-container {
    width: "200px";

    .img-product {
        :hover {
            cursor: pointer;
        }

        @media (max-width: 768px) {
            width: 100%;
        }


        width: 300px;

    }


    .btn-buy-product {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}