.product-container {
    width: "200px";

    .img-product {
        :hover {
            cursor: pointer;
        }

        width: 300px;
    }

    .btn-buy-product {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .product-container {
        width: 48%;

        .img-product {
            width: 100%;
        }
    }
}