.purchased-container {
    table {
        width: 100%;

        th,
        td {
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
            overflow: hidden;
        }

        .column-img {
            width: 20%;
        }


        .column-action {
            width: 200px;
        }

        .column-no {
            width: 50px;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .action-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        button {
            width: 70%;
        }
    }
}

@media (max-width: 768px) {
    .purchased-container {
        .no-column {
            width: 50px;
        }

        .product-column {
            width: 50%;
        }

        .product-container-purchased {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        .action-content {
            display: flex;
            flex-direction: column;
        }
    }

}